.header{
    background: #364051;
}
.header__content{
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.header__title{
    color: white;
    
    h1{
        margin: 0;
    }
    text-decoration: none;
}