.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    //justify-content: space-between;
    @media (min-width:45rem) {
        flex-direction: row;
        margin-bottom: 1.2rem;
    }
}
.input-group__item{
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    @media (min-width:45rem) {
        margin-right: 0 1.2rem 0 0;
    }
}