.page-header{
    background: #f7f7f9;
    padding: 1.2rem 0;
}
.page-header__actions{
    margin-top: 1.6rem;
}
.page-header__title{
    font-weight: 300;
    span{
        font-weight: bold;
    }
}